29242531 최은성

In [1]:
lst = [10, 20, 30]
print(lst, type(lst))

print(list(['java', 'python', 'R']))

print(list(range(5)))
print(list(range(1, 10, 2)))

lst = [1, 3.92, 3 > 4, 'list']

print(lst[0], lst[2])

print(lst[2:4])

print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[10, 20, 30] <class 'list'>
['java', 'python', 'R']
[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
1 False
[False, 'list']
[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [6]:
import math as m
a = [m.pi, 30, 10 > 4, 'list', lambda x: x**3]
a.append('py')
print(a)

def add2(x, y):
    return x + y

a.insert(1, add2)
print(a[1](10, 20))

for i in a:
    print(type(i))

a.remove(30)
print(a)

print(a.pop())
print(a)

[3.141592653589793, 30, True, 'list', <function <lambda> at 0x00000183D439E0E0>, 'py']
30
<class 'float'>
<class 'function'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'function'>
<class 'str'>
[3.141592653589793, <function add2 at 0x00000183D439E7A0>, True, 'list', <function <lambda> at 0x00000183D439E0E0>, 'py']
py
[3.141592653589793, <function add2 at 0x00000183D439E7A0>, True, 'list', <function <lambda> at 0x00000183D439E0E0>]

In [9]:
my_list = [x for x in range(10)]
print(my_list)

print([x for x in range(10) if x % 2 == 1])
print(['even' if i % 2 == 0 else 'odd' for i in range(1, 11)])
print([i for j in range(5) for i in range(3)])
print([[j for j in range(i, i + 6)] for i in range(3)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]
[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

In [10]:
mart = {'라면': 1200, '음료수': 1500, '과자': 800}
print(mart)
print(type(mart))

print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

data = {1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}
print(data)

{'라면': 1200, '음료수': 1500, '과자': 800}
<class 'dict'>
1200
800
1500
{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [11]:
data = {1: '일', 3.14: 2.71, [1, 2]: '리스트', 'list': [1, 2, 3]}
print(data)

TypeError: unhashable type: 'list'

In [14]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3)))
print(f_cnt)

f_price = dict(apple = 4000, banana = 300, orange = 2000)
print(f_price)

mart = {'라면': 1200, '음료수': 1500, '과자': 800}
mart['삼각김밥'] = 1700
print(mart)

mart['과자'] = 900
print(mart)

print(mart.keys())

print(mart.values())

print(mart.items())

{'apple': 2, 'banana': 5, 'orange': 3}
{'apple': 4000, 'banana': 300, 'orange': 2000}
{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}
{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}
dict_keys(['라면', '음료수', '과자', '삼각김밥'])
dict_values([1200, 1500, 900, 1700])

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

In [15]:
tp1 = 1, 2, 3
tp2 = (10, 20, 30)
print(tp1, tp2)

tp3 = tuple((10, 20, 30))
tp4 = (tuple(['py', 'R']))
print(tp3, tp4)

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

basket = {'apple', 'orange', 'apple', 'pear'}
print(basket)

print(len(basket))

print('grape' in basket)
print('apple' in basket)

(1, 2, 3) (10, 20, 30)
(10, 20, 30) ('py', 'R')
(1, 2, 3, 4, 5, 6)
{'pear', 'orange', 'apple'}
3
False
True

In [16]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [17]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A | B)
print(A & B)
print(A - B)
print(B - A)
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [20]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana')
print(basket)

{'pear', 'orange', 'banana', 'apple'}

In [21]:
myset = {0}
print(myset)
myset.add([1, 2])

{0}

TypeError: unhashable type: 'list'

In [22]:
myset = {0}
print(myset)
myset.add((1, 2))

{0}

In [23]:
myset.remove(0)
print(myset)

{(1, 2)}

In [24]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [25]:
print(hash({'one': 1}))

TypeError: unhashable type: 'dict'

In [27]:
print(hash('py'), hash((1, 2)))

-8360696462933640213 -3550055125485641917

In [28]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [29]:
x, y = 10, 10
print(id(x), id(y))

1665646199312 1665646199312